java/demo/src/main/resources/wsdl/crm_common.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  targetNamespace="http://siebel.com/CustomUI"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://siebel.com/CustomUI"
>
  <types
  ></types
  >
  <message
    name="SubmitNewOrder_Input"
  >
    <part
      name="OrderItem"
      type="xsd:string"
    ></part
    >
    <part
      name="SourceOrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="Login"
      type="xsd:string"
    ></part
    >
    <part
      name="AccountId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderSource"
      type="xsd:string"
    ></part
    >
    <part
      name="Remark"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="SubmitNewOrder_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderNum"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderStatus"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="CreateOrder2_Input"
  >
    <part
      name="OrderItem"
      type="xsd:string"
    ></part
    >
    <part
      name="SourceOrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="Login"
      type="xsd:string"
    ></part
    >
    <part
      name="AccountId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderSource"
      type="xsd:string"
    ></part
    >
    <part
      name="Remark"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="CreateOrder2_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderNum"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderStatus"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetInfo_Input"
  >
    <part
      name="SerialNum"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetInfo_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OutputXML"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAccountLockList_Input"
  >
    <part
      name="AccountId"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAccountLockList_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OutputXML"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetOrderStatus_Input"
  >
    <part
      name="OrderId"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetOrderStatus_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderStatus"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetLockList_Input"
  >
    <part
      name="SerialNum"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetLockList_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OutputXML"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="CreateOrderPlus2_Input"
  >
    <part
      name="OrderItem"
      type="xsd:string"
    ></part
    >
    <part
      name="LockNum"
      type="xsd:string"
    ></part
    >
    <part
      name="SourceOrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderSource"
      type="xsd:string"
    ></part
    >
    <part
      name="Remark"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="CreateOrderPlus2_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderNum"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderStatus"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetLockInfo_Input"
  >
    <part
      name="LockId"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="GetAssetLockInfo_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
    <part
      name="OutputXML"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="SetOrderStatus_Input"
  >
    <part
      name="OrderId"
      type="xsd:string"
    ></part
    >
    <part
      name="LockItem"
      type="xsd:string"
    ></part
    >
    <part
      name="OrderStatus"
      type="xsd:string"
    ></part
    >
  </message
  >
  <message
    name="SetOrderStatus_Output"
  >
    <part
      name="ErrorCode"
      type="xsd:string"
    ></part
    >
    <part
      name="ErrorMessage"
      type="xsd:string"
    ></part
    >
  </message
  >
  <portType
    name="GLD_spcZCM_spcInterface_spcBS"
  >
    <operation
      name="SubmitNewOrder"
    >
      <input
        message="tns:SubmitNewOrder_Input"
      ></input
      >
      <output
        message="tns:SubmitNewOrder_Output"
      ></output
      >
    </operation
    >
    <operation
      name="CreateOrder2"
    >
      <input
        message="tns:CreateOrder2_Input"
      ></input
      >
      <output
        message="tns:CreateOrder2_Output"
      ></output
      >
    </operation
    >
    <operation
      name="GetAssetInfo"
    >
      <input
        message="tns:GetAssetInfo_Input"
      ></input
      >
      <output
        message="tns:GetAssetInfo_Output"
      ></output
      >
    </operation
    >
    <operation
      name="GetAccountLockList"
    >
      <input
        message="tns:GetAccountLockList_Input"
      ></input
      >
      <output
        message="tns:GetAccountLockList_Output"
      ></output
      >
    </operation
    >
    <operation
      name="GetOrderStatus"
    >
      <input
        message="tns:GetOrderStatus_Input"
      ></input
      >
      <output
        message="tns:GetOrderStatus_Output"
      ></output
      >
    </operation
    >
    <operation
      name="GetAssetLockList"
    >
      <input
        message="tns:GetAssetLockList_Input"
      ></input
      >
      <output
        message="tns:GetAssetLockList_Output"
      ></output
      >
    </operation
    >
    <operation
      name="CreateOrderPlus2"
    >
      <input
        message="tns:CreateOrderPlus2_Input"
      ></input
      >
      <output
        message="tns:CreateOrderPlus2_Output"
      ></output
      >
    </operation
    >
    <operation
      name="GetAssetLockInfo"
    >
      <input
        message="tns:GetAssetLockInfo_Input"
      ></input
      >
      <output
        message="tns:GetAssetLockInfo_Output"
      ></output
      >
    </operation
    >
    <operation
      name="SetOrderStatus"
    >
      <input
        message="tns:SetOrderStatus_Input"
      ></input
      >
      <output
        message="tns:SetOrderStatus_Output"
      ></output
      >
    </operation
    >
  </portType
  >
  <binding
    name="GLD_spcZCM_spcInterface_spcBS"
    type="tns:GLD_spcZCM_spcInterface_spcBS"
  >
    <soap:binding
      transport="http://schemas.xmlsoap.org/soap/http"
      style="rpc"
    ></soap:binding
    >
    <operation
      name="SubmitNewOrder"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:SubmitNewOrder"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="CreateOrder2"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:CreateOrder2"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="GetAssetInfo"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:GetAssetInfo"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="GetOrderStatus"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:GetOrderStatus"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="GetAccountLockList"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:GetAccountLockList"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="GetAssetLockList"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:GetAssetLockList"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="CreateOrderPlus2"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:CreateOrderPlus2"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="GetAssetLockInfo"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:GetAssetLockInfo"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
    <operation
      name="SetOrderStatus"
    >
      <soap:operation
        soapAction="rpc/http://siebel.com/CustomUI:SetOrderStatus"
      ></soap:operation
      >
      <input
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </input
      >
      <output
      >
        <soap:body
          namespace="http://siebel.com/CustomUI"
          use="literal"
        ></soap:body
        >
      </output
      >
    </operation
    >
  </binding
  >
  <service
    name="GLD_spcZCM_spcInterface_spcBS"
  >
    <port
      binding="tns:GLD_spcZCM_spcInterface_spcBS"
      name="GLD_spcZCM_spcInterface_spcBS"
    >
      <soap:address
        location="http://192.168.28.23:8080/eai_chs/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=gldadmin&amp;Password=123qweADMIN"
      ></soap:address
      >
    </port
    >
  </service
  >
</definitions
>